@charset "UTF-8";
babody, html, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, img, pre {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont_fdf491c.woff);
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "fontawesome-webfont";
}

/*默认*/
#center-l #center_left {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
}

/*导航*/
#nav_wrapping {
  width: 100%;
  height: 140px;
}

#nav_wrapping .nav {
  width: 98%;
  height: 100px;
  margin: 0 auto;
}

#nav_wrapping .nav #nav_logo {
  float: left;
  width: 260px;
  height: 56px;
  background: url(../img/standerd_logo.png) center center no-repeat;
}

#nav_wrapping .nav #nav_right {
  float: right;
  width: 661px;
  height: 100px;
}

#nav_wrapping .nav #nav_right #nav_search {
  float: left;
  width: 300px;
  height: 100px;
  position: relative;
}

#nav_wrapping .nav #nav_right #nav_search input {
  position: absolute;
  width: 298px;
  height: 38px;
  border: 1px solid #ccc;
  top: 30px;
  left: 0;
}

#nav_wrapping .nav #nav_right #nav_search #nav_search_sea {
  position: absolute;
  top: 42px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: url(../img/search_e6fe07d.png) no-repeat;
}

#nav_user .photo, #nav_user .userlist {
  float: left;
  width: 22px;
  height: 22px;
  margin-top: 39px;
  margin-left: 5px;
}

#nav_user {
  width: 140px;
  height: 100px;
  float: left;
  margin-left: 10px;
}

#nav_user:hover .userlist {
  transform: rotate(180deg);
  background: url(../img/new_nav_db768b3.png) 6px -12px no-repeat;
}

#nav_user .photo {
  border-radius: 50%;
  background: url(../img/photo.jpg);
}

#nav_user .username {
  float: left;
  width: auto;
  height: 22px;
  margin-top: 39px;
  margin-left: 5px;
  line-height: 22px;
  font-size: 12px;
}

#nav_user .userlist {
  background: url(../img/new_nav_db768b3.png) 6px -14px no-repeat;
  transition: transform .4s ease-in-out;
}

.nav_span {
  float: left;
  width: 1px;
  height: 16px;
  background: #666;
  margin: 42px 2px;
}

.list {
  padding: 0 20px;
  display: inline-block;
  font-size: 12px;
  color: #666;
}

#nav_my_order {
  float: left;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  margin-top: 39px;
  margin-left: 4px;
}

#nav_you {
  width: 210px;
  height: 100px;
  float: right;
}

#nav_you #nav_cart {
  height: 22px;
  padding-left: 44px;
  background: url(../img/new_nav_db768b3.png) no-repeat -9px 3px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  margin-top: 39px;
}

.nav_list {
  width: 100%;
  height: 40px;
}

.nav_list #nav_bars {
  background-color: #333;
  text-align: center;
  display: block;
  clear: both;
  content: '';
  height: 40px;
}

.nav_list #nav_bars li {
  width: auto;
  display: inline-block;
  padding: 0 35px;
  height: 40px;
  color: #ddd;
  line-height: 40px;
  font-size: 14px;
}

.nav_list #nav_bars li:hover {
  background: #222;
  color: #fff;
}

.nav_list #nav_bars .active {
  background: #222;
  color: #fff;
}

/*导航*/
#nav_center_c {
  width: 100%;
  height: 854px;
}

#center-l {
  width: 60%;
  height: 856px;
  float: left;
}

#center-l .center_x {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#center-l .center_x .center_a:nth-child(1) {
  width: 100%;
  height: 100%;
  transition: transform .6s ease-in-out;
  background: url("../img/lunbo1.jpg");
}

#center-l .center_x .center_a:nth-child(1):hover {
  transform: scale(1.1, 1.1);
}

#center-l .center_x .center_a:nth-child(2) {
  width: 100%;
  height: 100%;
  transition: transform .6s ease-in-out;
  background: url("../img/lunbo2.jpg");
}

#center-l .center_x .center_a:nth-child(2):hover {
  transform: scale(1.1, 1.1);
}

#center-l .center_x .center_a:nth-child(3) {
  width: 100%;
  height: 100%;
  transition: transform .6s ease-in-out;
  background: url("../img/lunbo3.jpg");
}

#center-l .center_x .center_a:nth-child(3):hover {
  transform: scale(1.1, 1.1);
}

#center-l .center_x .center_a:nth-child(4) {
  width: 100%;
  height: 100%;
  transition: transform .6s ease-in-out;
  background: url("../img/lunbo4.jpg");
}

#center-l .center_x .center_a:nth-child(4):hover {
  transform: scale(1.1, 1.1);
}

#center-l #center_b {
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 200px;
  height: 20px;
}

#center-l #center_b li {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  float: left;
}

#center-l #center_b li:nth-child(1) {
  background: #fff;
}

#center-l #center_left {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  bottom: 0;
  background: url(../img/dir_9a54e55.png);
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  background-color: #555;
  opacity: 0.4;
}

#center-l #center_left:hover {
  opacity: 0.7;
  background-color: #333;
}

#center-l #center_right {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/dir_9a54e55.png) 62px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  background-color: #555;
  opacity: 0.4;
}

#center-l #center_right:hover {
  opacity: 0.7;
  background-color: #333;
}

#center_r {
  width: 40%;
  height: 856px;
  float: left;
}

#center_r #center_r_up {
  width: 100%;
  height: 571px;
  overflow: hidden;
}

#center_r #center_r_up #center_up_s {
  width: 100%;
  height: 100%;
  transition: transform .6s ease-in-out;
  background: url(../img/you1.jpg);
}

#center_r #center_r_up #center_up_s:hover {
  transform: scale(1.1, 1.1);
}

#center_r #center_r_down {
  width: 100%;
  height: 285px;
}

#center_r #center_r_down #center_down_l {
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

#center_r #center_r_down #center_down_l #center_d_l {
  width: 100%;
  height: 100%;
  background: url(../img/you3.jpg);
  transition: transform .6s ease-in-out;
}

#center_r #center_r_down #center_down_l #center_d_l:hover {
  transform: scale(1.1, 1.1);
}

#center_r #center_r_down #center_down_r {
  float: left;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

#center_r #center_r_down #center_down_r #center_d_r {
  width: 100%;
  height: 100%;
  background: url(../img/you2.jpg);
  transition: transform .6s ease-in-out;
}

#center_r #center_r_down #center_down_r #center_d_r:hover {
  transform: scale(1.1, 1.1);
}

#article {
  width: 62.5%;
  height: 160px;
  margin: 60px auto;
  padding-bottom: 60px;
  border-bottom: 1px solid #e9e9e9;
}

#article #art_left {
  float: left;
  width: 300px;
  height: 160px;
  background: url(../img/art.jpg) center center no-repeat;
  background-size: 300px;
  cursor: pointer;
}

#article #art_center {
  margin-left: 30px;
  float: left;
  width: 420px;
  vertical-align: top;
  height: auto;
  padding-right: 40px;
  border-right: 1px solid #e9e9e9;
}

#article #art_center h3 a {
  font-size: 24px;
}

#article #art_center h3 a:hover {
  text-decoration: underline;
}

#article #art_center span {
  font-size: 12px;
}

#article #art_right {
  float: left;
  width: 340px;
  height: 142px;
  margin: 23px 0 0 40px;
}

#article #art_right a {
  outline: 0;
  color: #555;
}

#article #art_right a p {
  font-size: 14px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
}

#article #art_right a p:hover {
  text-decoration: underline;
}

#article #art_right a p:before {
  content: "·";
  display: inline-block;
  margin-right: 5px;
}

/*中间四层*/
.glookblock {
  width: 63.1%;
  height: 581px;
  margin: 40px auto;
  border-bottom: 1px solid #e9e9e9;
}

.glookblock .glook_header {
  width: 220px;
  height: 540px;
  cursor: pointer;
  float: left;
}

.glookblock .glook_bodyer {
  width: 980px;
  height: 540px;
  float: left;
}

.glookblock .glook_bodyer .gb_left {
  float: left;
  width: 238px;
  position: relative;
  cursor: pointer;
  height: 540px;
  border-right: 1px solid #e9e9e9;
}

.glookblock .glook_bodyer .gb_left .gb_left_up {
  position: relative;
  width: 238px;
  cursor: pointer;
  height: 269px;
  border-bottom: 1px solid #e9e9e9;
}

.glookblock .glook_bodyer .gb_left .gb_left_down {
  position: relative;
  width: 238px;
  cursor: pointer;
  height: 269px;
}

.glookblock .glook_bodyer .gb_center {
  float: left;
  cursor: pointer;
  width: 478px;
  position: relative;
  height: 540px;
  border-right: 1px solid #e9e9e9;
}

.glookblock .glook_bodyer .gb_right {
  float: left;
  width: 238px;
  height: 540px;
}

.glookblock .glook_bodyer .gb_right .gb_right_up {
  width: 238px;
  position: relative;
  cursor: pointer;
  height: 269px;
  border-bottom: 1px solid #e9e9e9;
}

.glookblock .glook_bodyer .gb_right .gb_right_down {
  position: relative;
  width: 238px;
  height: 269px;
  cursor: pointer;
}

.glookblock .glook_bodyer .gb_left .gb_left_up img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 138px;
  height: 138px;
  transition: right .6s ease-in-out;
}

.glookblock .glook_bodyer .gb_left .gb_left_up img:hover {
  right: 30px;
}

.glookblock .glook_bodyer .gb_left .gb_left_up h3 {
  overflow: hidden;
  display: block;
  padding: 10px 20px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
}

.glookblock .glook_bodyer .gb_left .gb_left_up h4 {
  padding: 10px 20px 0;
  margin: 11px 0 2px -5px;
  font-size: 16px;
  text-align: left;
  position: relative;
  z-index: 22;
}

.glookblock .glook_bodyer .gb_left .gb_left_up span {
  width: 48px;
  background: red;
  margin-left: 20px;
  display: block;
  text-align: center;
  line-height: 19px;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  z-index: 22;
  color: #fff;
}

.glookblock .glook_bodyer .gb_left .gb_left_down img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 138px;
  height: 138px;
  transition: right .6s ease-in-out;
}

.glookblock .glook_bodyer .gb_left .gb_left_down img:hover {
  right: 30px;
}

.glookblock .glook_bodyer .gb_left .gb_left_down h3 {
  overflow: hidden;
  padding: 10px 20px 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
}

.glookblock .glook_bodyer .gb_left .gb_left_down h4 {
  margin: 11px 0 2px -5px;
  font-size: 16px;
  padding: 10px 20px 0;
  text-align: left;
  position: relative;
  z-index: 22;
}

.glookblock .glook_bodyer .gb_center img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 350px;
  height: 350px;
  transition: right .6s ease-in-out;
}

.glookblock .glook_bodyer .gb_center img:hover {
  right: 30px;
}

.glookblock .glook_bodyer .gb_center h3 {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 10px 20px 0;
  font-size: 24px;
  text-align: left;
}

.glookblock .glook_bodyer .gb_center h4 {
  margin: 11px 0 2px -5px;
  font-size: 24px;
  text-align: left;
  padding: 10px 20px 0;
  position: relative;
  z-index: 22;
}

.glookblock .glook_bodyer .gb_right .gb_right_up img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 138px;
  height: 138px;
  transition: right .6s ease-in-out;
}

.glookblock .glook_bodyer .gb_right .gb_right_up img:hover {
  right: 30px;
}

.glookblock .glook_bodyer .gb_right .gb_right_up h3 {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 16px;
  padding: 10px 20px 0;
  text-align: left;
}

.glookblock .glook_bodyer .gb_right .gb_right_up h4 {
  margin: 11px 0 2px -5px;
  font-size: 16px;
  text-align: left;
  padding: 10px 20px 0;
  position: relative;
  z-index: 22;
}

.glookblock .glook_bodyer .gb_right .gb_right_down img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 138px;
  height: 138px;
  transition: right .6s ease-in-out;
}

.glookblock .glook_bodyer .gb_right .gb_right_down img:hover {
  right: 30px;
}

.glookblock .glook_bodyer .gb_right .gb_right_down h3 {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 16px;
  padding: 10px 20px 0;
  text-align: left;
}

.glookblock .glook_bodyer .gb_right .gb_right_down h4 {
  margin: 11px 0 2px -5px;
  font-size: 16px;
  text-align: left;
  position: relative;
  padding: 10px 20px 0;
  z-index: 22;
}

.glookblock h3:hover {
  text-decoration: underline;
}

/*中间四层*/
#home {
  background-color: #f6f6f6;
  padding: 60px 0;
  height: 400px;
  margin-top: -41px;
}

#home #home_h {
  width: 63.1%;
  height: 100%;
  margin: 0 auto;
}

#home #home_h #home_left {
  width: 710px;
  height: 400px;
  cursor: pointer;
  float: left;
  background: url(../img/56f90e73e9449.jpg);
}

#home #home_h #home_right {
  width: 490px;
  height: 100%;
  float: left;
}

#home #home_h #home_right h1 a {
  padding: 0 20px;
  font-size: 30px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  display: block;
}

#home #home_h #home_right #home_product span {
  margin-left: 20px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 20px;
  height: 60px;
}

#home #home_h #home_right #home_money {
  width: 100%;
  display: inline-block;
  color: #ee3531;
  margin: 17px 0;
  font-family: verdana;
  font-size: 18px;
}

#home #home_h #home_right #home_money h1 {
  margin-left: 20px;
  float: left;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
}

#home #home_h #home_right #home_money h2 {
  float: left;
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-left: 6px;
}

#home #home_h #home_right #home_buy {
  width: 100%;
  height: 131px;
  border-bottom: 1px solid #e9e9e9;
}

#home #home_h #home_right #home_buy #home_b_buy {
  margin-left: 20px;
  width: 131px;
  height: 40px;
  float: left;
  border: 0;
  text-align: center;
  line-height: 40px;
  background-color: #ee3531;
  margin-bottom: 90px;
  cursor: pointer;
}

#home #home_h #home_right #home_buy #home_check {
  width: 131px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #999;
  width: 138px;
  height: 38px;
  color: #333;
  margin-left: 15px;
  cursor: pointer;
}

#home #home_h #home_right #home_suggest {
  border-top: 1px solid #d7d7d7;
  padding-top: 27px;
}

#home #home_h #home_right #home_suggest #home_photo {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  float: left;
}

#home #home_h #home_right #home_suggest #home_photo img {
  width: 30px;
}

#home #home_h #home_right #home_suggest span {
  display: inline-block;
  max-width: 265px;
  vertical-align: middle;
  max-height: 41px;
  overflow: hidden;
  font-size: 16px;
}

#home #home_h #home_right #home_suggest #discuss {
  margin-left: 100px;
  width: 140px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 75px;
  border-radius: 3px;
  background: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/*未来商店*/
.dreamshop_warpping {
  width: 100%;
  height: 1047px;
}

.dreamshop_warpping .dreamshop {
  width: 65.5%;
  height: 1000px;
  margin: 0 auto;
  padding-left: 0;
}

.dreamshop_warpping .dreamshop .dreamshop_up {
  background-color: #f6f6f6;
  display: inline-block;
  width: 380px;
  margin: 30px 30px 0 0;
  position: relative;
  vertical-align: top;
}

.dreamshop_up {
  position: relative;
}

.dreamshop_up .ds_img_1 {
  width: 380px;
  height: 288px;
  cursor: pointer;
}

.dreamshop_up .ds_d_photo {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 120px;
  left: 30px;
  background: url(../img/logo20150710.png);
  background-size: 60px;
  cursor: pointer;
}

.dreamshop_up .ds_up_1 .ds_up_1_left {
  color: #999;
  font-size: 12px;
  vertical-align: 10px;
  display: inline-block;
  margin-left: 100px;
}

.dreamshop_up .ds_up_1 .ds_xin {
  float: right;
  color: #999;
  font-size: 12px;
  margin: 8px 6px 0 15px;
  display: inline-block;
}

.dreamshop_up .ds_up_1 .ds_xin:before {
  content: "\f004";
  display: inline-block;
}

.dreamshop_up .ds_up_1 .ds_discuss {
  display: inline-block;
  float: right;
  color: #999;
  font-size: 12px;
  margin: 8px 7px 0 15px;
}

.dreamshop_up .ds_up_1 .ds_discuss .dis_photo {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/new-comment-icon_ed4c7c0.png) no-repeat 0 0;
}

.dreamshop_up .ds_up_1 .ds_discuss .dis_photo:after {
  content: '5';
  margin-left: 17px;
}

.dreamshop_up h5 {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  margin: 20px 0 10px;
  padding-left: 20px;
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.dreamshop_up h5:hover {
  text-decoration: underline;
}

.dreamshop_up h6 {
  color: #666;
  font-size: 12px;
  line-height: 1.5em;
  height: 37px;
  overflow: hidden;
  word-break: break-all;
  padding-left: 20px;
}

.dreamshop_up .time {
  color: #999;
  font-size: 12px;
  line-height: 12px;
  padding-left: 20px;
  margin: 18px 0 25px;
}

.dreamshop_up .ds_img_1 img {
  width: 380px;
  height: 288px;
}

.dreamshop_up .ds_d_photo img {
  width: 60px;
  height: 60px;
}

.dreamshop_warpping .home-video-more {
  width: 178px;
  height: 33px;
  line-height: 33px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
  font-size: 13px;
  text-align: center;
  display: block;
  margin: 30px auto 0;
}

.dreamshop_warpping .home-video-more:after {
  background: url(http://static.store.baidu.com/static/home/images/right_fd4fd2f.png) no-repeat;
  content: "";
  width: 5px;
  height: 9px;
  line-height: 9px;
  display: inline-block;
  margin-left: 5px;
  margin-top: -2px;
}

/*未来商店*/
/*商店视频*/
.home_video_warpping {
  width: 100%;
  height: 662px;
  background: #e9e9e9;
}

.home_video_warpping .home_video_photo {
  width: 63.1%;
  height: 477px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

.home_video_warpping .home_video_photo .hv_p_left {
  width: 236px;
  height: 100%;
  float: left;
}

.home_video_warpping .home_video_photo .hv_p_left .hv_p_l_up {
  display: inline-block;
  width: 236px;
  height: 236px;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
}

.home_video_warpping .home_video_photo .hv_p_left .hv_p_l_up img {
  width: 236px;
}

.home_video_warpping .home_video_photo .hv_p_left .hv_p_l_down {
  display: inline-block;
  width: 236px;
  height: 236px;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
}

.home_video_warpping .home_video_photo .hv_p_left .hv_p_l_down img {
  width: 236px;
}

.home_video_warpping .home_video_photo .hv_p_center {
  float: left;
  width: 477px;
  height: 477px;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
}

.home_video_warpping .home_video_photo .hv_p_center img {
  width: 477px;
}

.home_video_warpping .home_video_photo .hv_p_right {
  width: 477px;
  height: 477px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_up1 {
  display: inline-block;
  width: 236px;
  height: 236px;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
  margin-left: 5px;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_up1 img {
  width: 236px;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_up2 {
  display: inline-block;
  width: 236px;
  height: 236px;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_up2 img {
  width: 236px;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_down {
  width: 477px;
  height: 236px;
  float: left;
}

.home_video_warpping .home_video_photo .hv_p_right .hv_p_r_down img {
  width: 477px;
}

.home_video_warpping .home-video-more {
  width: 178px;
  height: 33px;
  line-height: 33px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
  font-size: 13px;
  text-align: center;
  display: block;
  margin: 30px auto 0;
}

.home_video_warpping .home-video-more:after {
  background: url(http://static.store.baidu.com/static/home/images/right_fd4fd2f.png) no-repeat;
  content: "";
  width: 5px;
  height: 9px;
  line-height: 9px;
  display: inline-block;
  margin-left: 5px;
  margin-top: -2px;
}

.home_video_warpping h2 {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 55px 0 15px;
  box-sizing: border-box;
  background: url(../img/play_e587951.png) no-repeat 193px center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1px;
}

.home_video_warpping h2:hover {
  text-decoration: underline;
}

.home_video_warpping .hv_p_center h2 {
  background: url(../img/play_e587951.png) no-repeat 423px center;
  background-color: rgba(0, 0, 0, 0.4);
}

.home_video_warpping .hv_p_r_down h2 {
  background: url(../img/play_e587951.png) no-repeat 423px center;
  background-color: rgba(0, 0, 0, 0.4);
}

/*商店视频*/
/*品牌*/
.coo_warpping {
  width: 64%;
  height: 240px;
  margin: 0 auto;
  padding: 70px 0;
}

.coo_warpping li {
  float: left;
  margin-right: 45px;
  width: 90px;
  height: 90px;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.coo_warpping .co_apply {
  float: left;
  margin-right: 45px;
  width: 90px;
  height: 90px;
  text-align: center;
  margin-top: 30px;
  position: relative;
  background: #000;
  color: #fff;
  font-size: 18px;
}

.coo_warpping .co_apply div {
  font-size: 25px;
  padding-top: 10px;
}

.coo_warpping li:nth-child(1) {
  background: url("../img/jpg/1.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(2) {
  background: url("../img/jpg/2.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(3) {
  background: url("../img/jpg/3.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(4) {
  background: url("../img/jpg/4.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(5) {
  background: url("../img/jpg/5.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(6) {
  background: url("../img/jpg/6.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(7) {
  background: url("../img/jpg/7.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(8) {
  background: url("../img/jpg/8.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(9) {
  background: url("../img/jpg/9.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(10) {
  background: url("../img/jpg/10.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(11) {
  background: url("../img/jpg/11.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(12) {
  background: url("../img/jpg/12.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(13) {
  background: url("../img/jpg/13.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(14) {
  background: url("../img/jpg/14.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(15) {
  background: url("../img/jpg/15.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(16) {
  background: url("../img/jpg/16.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

.coo_warpping li:nth-child(17) {
  background: url("../img/jpg/17.png") center center no-repeat;
  background-size: 90px;
  cursor: pointer;
}

/*品牌*/
/*footer*/
.footer {
  width: 100%;
  height: 300px;
  background: #222;
}

.footer .footer_up {
  width: 100%;
  height: 120px;
}

.footer .footer_up .footer_up_warpping {
  width: 63.1%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}

.footer .footer_up .footer_up_warpping .footer_warpping {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.footer .footer_up .footer_up_warpping .footer_warpping li {
  display: inline-block;
  padding-left: 55px;
  margin-right: 100px;
  float: left;
  color: #fff;
  font-size: 16px;
  line-height: 120px;
}

.footer .footer_up .footer_up_warpping .footer_warpping li:nth-child(1) {
  background: url(../img/footer_a84db08.png) center center no-repeat;
  background-position: -5px 35px;
}

.footer .footer_up .footer_up_warpping .footer_warpping li:nth-child(2) {
  background: url(../img/footer_a84db08.png) center center no-repeat;
  background-position: -4px -56px;
}

.footer .footer_up .footer_up_warpping .footer_warpping li:nth-child(3) {
  background: url(../img/footer_a84db08.png) center center no-repeat;
  background-position: -4px -163px;
}

.footer .footer_up .footer_up_warpping .footer_warpping li:nth-child(4) {
  background: url(../img/footer_a84db08.png) center center no-repeat;
  background-position: -4px -266px;
}

.footer .footer_down {
  height: 149px;
  width: 100%;
}

.footer .footer_down .footer_down_warpping {
  margin-top: 34px;
  width: 1000px;
  padding-bottom: 36px;
  height: 113px;
  margin: 0 auto;
}

.footer .footer_down .footer_down_warpping .footer_down_left {
  display: inline-block;
  max-width: 537px;
  padding-right: 60px;
  padding: 25px 60px 30px 0;
  text-align: right;
  color: #555;
}

.footer .footer_down .footer_down_warpping .footer_down_left .tel {
  padding: 30px 60px 25px 0;
  font-size: 18px;
  line-height: 21px;
}

.footer .footer_down .footer_down_warpping .footer_down_left .tel span {
  display: inline-block;
  font-size: 12px;
}

.footer .footer_down .footer_down_warpping .footer_down_left .info {
  height: 24px;
  margin-top: -10px;
}

.footer .footer_down .footer_down_warpping .footer_down_left .info span {
  float: left;
  font-size: 12px;
  line-height: 24px;
  margin-left: -10px;
  padding-right: 5px;
}

.footer .footer_down .footer_down_warpping .footer_down_left .info a {
  float: left;
  font-size: 12px;
  line-height: 24px;
  line-height: 24px;
  padding: 0 5px;
}

.footer .footer_down .footer_down_warpping .footer_down_left .info a:hover {
  color: #fff;
}

.footer .footer_down .footer_down_warpping .footer_down_right {
  display: inline-block;
  width: 324px;
  padding-left: 56px;
  font-size: 12px;
  color: #fff;
  border-left: 1px solid #333;
  margin-top: 20px;
  vertical-align: top;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r {
  width: 380px;
  height: 113px;
  float: left;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_us_txt {
  text-align: left;
  color: #555;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .f_tieba {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 9px;
  margin-top: 20px;
  vertical-align: middle;
  cursor: pointer;
  background: url(../img/weibo_fff8cde.png);
  background-position: -104px 0;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .f_tieba:hover {
  background-position: -281px 0;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weixin {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 9px;
  cursor: pointer;
  margin-top: 20px;
  vertical-align: middle;
  background: url(../img/weibo_fff8cde.png);
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weixin img {
  position: absolute;
  top: -120px;
  opacity: 0;
  transition: opacity .6s ease-in-out;
  left: -34px;
  cursor: pointer;
  width: 110px;
  height: 110px;
  margin-left: 0;
  white-space: nowrap;
  max-width: 220px;
  max-height: 220px;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weixin:hover {
  background-position: -177px 0;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weixin:hover img {
  opacity: 1;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weibo {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 9px;
  cursor: pointer;
  margin-top: 20px;
  vertical-align: middle;
  background: url(../img/weibo_fff8cde.png);
  background-position: -52px 0;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .weibo:hover {
  background-position: -229px 0;
}

.footer .footer_down .footer_down_warpping .footer_down_right .footer_down_r .f_focus_icon .img {
  width: 111px;
  cursor: pointer;
  height: 111px;
  margin-left: 48px;
  vertical-align: middle;
}

/*footer*/
